<h1>All Songs</h1>
<ul>
    <% @songs.each do |song| %>
        <li>
            <%= link_to song.title, song %> <%=  song.artist_name %><br>
            Released: <%= song.released %>
        </li>
    <% end %>
</ul>

<br><br><br><br>
<%= link_to "Create a New Song Entry >", new_song_path %>